In [44]:
import pandas as pd
import numpy as np

In [3]:
file_path = "../Python/Mappa-dei-pub-circoli-locali-in-Italia.json"
df = pd.read_json(file_path, encoding = 'latin1')
df

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,Ala di Stura,TORINO,Piemonte,,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2492,Barletta (BT),BARLETTA ANDRIA TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2493,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2494,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2495,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [4]:
# quanti dati ci sono in totale?
df.describe()

,canno_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
count,2497.000000,2.497000e+03,2497.000000,2497.000000
mean,2012.816179,1.847805e+09,11.412889,44.106531
std,1.915547,1.057789e+09,2.381334,2.108361
min,2007.000000,3.203094e+07,6.708958,36.680786
25%,2012.000000,9.195678e+08,9.214541,42.885316
50%,2013.000000,1.769765e+09,11.301761,45.049664
75%,2014.000000,2.616963e+09,12.682012,45.617151
max,2016.000000,4.012443e+09,18.444577,46.983781

In [6]:
# quanti dati ci sono in totale?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2497 entries, 0 to 2496
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ccomune                           2497 non-null   object
 1   cprovincia                        2497 non-null   object
 2   cregione                          2497 non-null   object
 3   cnome                             2497 non-null   object
 4   canno_inserimento                 2497 non-null   int64
 5   cdata_e_ora_inserimento           2497 non-null   object
 6   cidentificatore_in_openstreetmap  2497 non-null   int64
 7   clongitudine                      2497 non-null   float64
 8   clatitudine                       2497 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 175.7+ KB

In [7]:
# quali sono i metadati?
df.dtypes

ccomune                              object
cprovincia                           object
cregione                             object
cnome                                object
canno_inserimento                     int64
cdata_e_ora_inserimento              object
cidentificatore_in_openstreetmap      int64
clongitudine                        float64
clatitudine                         float64
dtype: object

In [66]:
#pulizia colonne
df.rename(columns = {'ccomune' : 'comune'}, inplace = True)
df.rename(columns = {'cprovincia' : 'provincia'}, inplace = True)
df.rename(columns = {'cregione' : 'regione'}, inplace = True)
df.rename(columns = {'cnome' : 'nome'}, inplace = True)
df.rename(columns = {'canno_inserimento' : 'anno_inserimento'}, inplace = True)
df.rename(columns = {'cdata_e_ora_inserimento' : 'data_e_ora_inserimento'}, inplace = True)
df.rename(columns = {'cidentificatore_in_openstreetmap' : 'identificatore_in_openstreetmap'}, inplace = True)
df.rename(columns = {'clongitudine' : 'longitudine'}, inplace = True)
df.rename(columns = {'clongitudine' : 'longitudine'}, inplace = True)
df.dtypes

comune                              object
provincia                           object
regione                             object
nome                                object
anno_inserimento                     int64
data_e_ora_inserimento              object
identificatore_in_openstreetmap      int64
longitudine                        float64
latitudine                         float64
dtype: object

In [18]:
#stampiamo il primo elemento
df.iloc[0]

comune                                            ALTRO
provincia                                         ALTRO
cregione                                          ALTRO
nome
anno_inserimento                                   2011
data_e_ora_inserimento             2011-06-25T23:17:43Z
identificatore_in_openstreetmap              1339088150
longitudine                                   13.733257
latitudine                                     45.57583
Name: 0, dtype: object

In [19]:
#stampiamo l'ultimo elemento
df.iloc[-1]

comune                                        Trani (BT)
provincia                          BARLETTA ANDRIA TRANI
cregione                                          Puglia
nome                                        Well's Fargo
anno_inserimento                                    2009
data_e_ora_inserimento              2009-08-10T12:44:03Z
identificatore_in_openstreetmap                387223648
longitudine                                    16.436765
latitudine                                     41.267264
Name: 2496, dtype: object

In [20]:
#riusciamo a stampare un elemento a caso?
df.sample(1)

,comune,provincia,cregione,nome,anno_inserimento,data_e_ora_inserimento,identificatore_in_openstreetmap,longitudine,latitudine
1148,Iesolo,VENEZIA,Veneto,Morgan's,2012,2012-01-02T10:22:47Z,1573849112,12.63402,45.501844

In [26]:
#quali sono gli anni di inserimento presenti?
anni_inserimento = df['anno_inserimento'].unique()
anni_inserimento

array([2011, 2015, 2010, 2012, 2014, 2016, 2013, 2008, 2009, 2007],
      dtype=int64)

In [58]:
#quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?
attività = df[((df['longitudine']>=9) & (df['longitudine']<=10)) & ((df['latitudine']>=45) & (df['latitudine']<=46))]

In [60]:
len(attività)

303

In [61]:
attività.shape[0]

303

In [42]:
#quante attività ci sono nella provincia di Vicenza?
attività_vicenza = df[df.provincia == "VICENZA"].shape[0]
attività_vicenza

73

In [63]:
#quante enoteche ci sono, e come si chiamano?
num_enoteche = df.nome.replace('', np.nan).count() # la funzione count non conta i valori rimpiazzati
num_enoteche

2211

In [75]:
#quante attività ci sono in Lazio e Abruzzo assieme?
regioni = df[df["regione"].isin(["Lazio", "Abruzzo"])]
conteggi_regione = regioni.groupby("regione")["nome"].count()
conteggi_regione

regione
Abruzzo     48
Lazio      189
Name: nome, dtype: int64

In [76]:
regioni = df[df["regione"].isin(["Lazio", "Abruzzo"])]
conteggi_regione = regioni.groupby("regione")["nome"].count()
conteggi_regione.sum()

237