In [15]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd
dotenv.load_dotenv(override=True)
username=os.getenv("username")
password=os.getenv("password")
host=os.getenv("host")
dbname=os.getenv("dbname")
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)

show_tables = pd.read_sql("Show Tables", db_engine)

df_employee = pd.read_sql("SELECT * FROM dimemployee", db_engine)
df_employee_sales_territory = pd.read_sql("SELECT * FROM dimemployeesalesterritory", db_engine)
df_sales_territory = pd.read_sql("SELECT * FROM dimsalesterritory", db_engine)
db_engine.dispose()

show_tables

      Tables_in_AdventureWorksDW
0   adventureworksdwbuildversion
1                     dimaccount
2                    dimcurrency
3                    dimcustomer
4                        dimdate
5             dimdepartmentgroup
6                    dimemployee
7      dimemployeesalesterritory
8                   dimgeography
9                dimorganization
10                    dimproduct
11            dimproductcategory
12         dimproductsubcategory
13                  dimpromotion
14                   dimreseller
15                dimsalesreason
16             dimsalesterritory
17                   dimscenario
18              factcurrencyrate
19                   factfinance
20             factinternetsales
21       factinternetsalesreason
22          factproductinventory
23             factresellersales
24                     factsales
25                   sysdiagrams
26   vw_factresellersales_denorm

In [16]:
df_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 28 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   EmployeeKey                           296 non-null    int64
 1   ParentEmployeeKey                     295 non-null    float64
 2   EmployeeNationalIDAlternateKey        296 non-null    int64
 3   ParentEmployeeNationalIDAlternateKey  295 non-null    float64
 4   FirstName                             296 non-null    object
 5   LastName                              296 non-null    object
 6   MiddleName                            283 non-null    object
 7   NameStyle                             296 non-null    int64
 8   Title                                 296 non-null    object
 9   HireDate                              296 non-null    object
 10  BirthDate                             296 non-null    object
 11  LoginID                               296 non-null    object
 12  EmailAddress                          296 non-null    object
 13  Phone                                 296 non-null    object
 14  MaritalStatus                         296 non-null    object
 15  EmergencyContactName                  296 non-null    object
 16  EmergencyContactPhone                 296 non-null    object
 17  SalariedFlag                          296 non-null    int64
 18  Gender                                296 non-null    object
 19  PayFrequency                          296 non-null    int64
 20  BaseRate                              296 non-null    float64
 21  VacationHours                         296 non-null    int64
 22  SickLeaveHours                        296 non-null    int64
 23  CurrentFlag                           296 non-null    int64
 24  SalesPersonFlag                       296 non-null    int64
 25  DepartmentName                        296 non-null    object
 26  EmployeePhoto                         296 non-null    object
 27  Position                              18 non-null     object
dtypes: float64(3), int64(9), object(16)
memory usage: 64.9+ KB

In [17]:
df_employee_sales_territory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeKey        39 non-null     int64
 1   SalesTerritoryKey  39 non-null     int64
dtypes: int64(2)
memory usage: 756.0 bytes

In [18]:
df_employee.columns

Index(['EmployeeKey', 'ParentEmployeeKey', 'EmployeeNationalIDAlternateKey',
       'ParentEmployeeNationalIDAlternateKey', 'FirstName', 'LastName',
       'MiddleName', 'NameStyle', 'Title', 'HireDate', 'BirthDate', 'LoginID',
       'EmailAddress', 'Phone', 'MaritalStatus', 'EmergencyContactName',
       'EmergencyContactPhone', 'SalariedFlag', 'Gender', 'PayFrequency',
       'BaseRate', 'VacationHours', 'SickLeaveHours', 'CurrentFlag',
       'SalesPersonFlag', 'DepartmentName', 'EmployeePhoto', 'Position'],
      dtype='object')

In [19]:
df_employee

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
292,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
294,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
295,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

In [20]:
df_employee.set_index("EmployeeKey", inplace=True)

In [21]:
df_employee

,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,BirthDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
EmployeeKey,,,,,,,,,,,,,,,,,,,,,
1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,1981-11-12,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,1986-12-01,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,1974-06-12,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,1974-07-23,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,1974-07-23,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,1975-04-30,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,1977-08-05,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,1974-08-11,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,1975-02-06,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,1970-10-16,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

In [22]:
df_employee_sales_territory

    EmployeeKey  SalesTerritoryKey
0           272                  1
1           277                  1
2           286                  1
3           289                  1
4           293                  1
5           272                  2
6           277                  2
7           281                  2
8           272                  3
9           277                  3
10          281                  3
11          282                  3
12          283                  3
13          272                  4
14          277                  4
15          282                  4
16          286                  4
17          287                  4
18          272                  5
19          277                  5
20          281                  5
21          285                  5
22          272                  6
23          277                  6
24          284                  6
25          288                  6
26          277                  7
27          290                  7
28          291                  7
29          292                  7
30          277                  8
31          290                  8
32          295                  8
33          277                  9
34          294                  9
35          296                  9
36          277                 10
37          290                 10
38          291                 10

In [23]:
df_employee_sales_territory.set_index("EmployeeKey", inplace=True)

In [24]:
df_employee_sales_territory

             SalesTerritoryKey
EmployeeKey
272                          1
277                          1
286                          1
289                          1
293                          1
272                          2
277                          2
281                          2
272                          3
277                          3
281                          3
282                          3
283                          3
272                          4
277                          4
282                          4
286                          4
287                          4
272                          5
277                          5
281                          5
285                          5
272                          6
277                          6
284                          6
288                          6
277                          7
290                          7
291                          7
292                          7
277                          8
290                          8
295                          8
277                          9
294                          9
296                          9
277                         10
290                         10
291                         10

In [35]:
# Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey

join_df = df_employee.join(df_employee_sales_territory)
join_df

,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,BirthDate,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey
EmployeeKey,,,,,,,,,,,,,,,,,,,,,
1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,1981-11-12,...,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,1986-12-01,...,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,1974-06-12,...,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,1974-07-23,...,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,1974-07-23,...,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,1975-04-30,...,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7.0
293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,1977-08-05,...,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1.0
294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,1974-08-11,...,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9.0
295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,1975-02-06,...,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8.0
296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,1970-10-16,...,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9.0

In [34]:
#Controlliamo la dimensione del DataFrame risultante: è quella attesa?
join_df.shape

(317, 28)

In [39]:
# questa funzione in Pandas restituisce il numero di valori unici presenti in una serie o in un DataFrame.
join_df.index.nunique()
# abbiamo 21 valori che si ripetono

296

In [43]:
#Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante della join precedente, usando le colonne SalesTerritoryKey
# check colonne 
join_df.columns.tolist()

['ParentEmployeeKey',
 'EmployeeNationalIDAlternateKey',
 'ParentEmployeeNationalIDAlternateKey',
 'FirstName',
 'LastName',
 'MiddleName',
 'NameStyle',
 'Title',
 'HireDate',
 'BirthDate',
 'LoginID',
 'EmailAddress',
 'Phone',
 'MaritalStatus',
 'EmergencyContactName',
 'EmergencyContactPhone',
 'SalariedFlag',
 'Gender',
 'PayFrequency',
 'BaseRate',
 'VacationHours',
 'SickLeaveHours',
 'CurrentFlag',
 'SalesPersonFlag',
 'DepartmentName',
 'EmployeePhoto',
 'Position',
 'SalesTerritoryKey']

In [50]:
df_sales_territory.columns

Index(['SalesTerritoryKey', 'SalesTerritoryAlternateKey',
       'SalesTerritoryRegion', 'SalesTerritoryCountry', 'SalesTerritoryGroup',
       'SalesTerritoryImage'],
      dtype='object')

In [51]:
df_sales_territory.set_index('SalesTerritoryKey', inplace=True)

In [52]:
df_sales_territory

,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
SalesTerritoryKey,,,,,
1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
11,0,Corporate HQ,Corporate HQ,Corporate HQ,None

In [53]:
join_df.set_index('SalesTerritoryKey', inplace=True)

In [54]:
join_df

,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,BirthDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
SalesTerritoryKey,,,,,,,,,,,,,,,,,,,,,
NaN,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,1981-11-12,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
NaN,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,1986-12-01,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
NaN,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,1974-06-12,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
NaN,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,1974-07-23,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
NaN,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,1974-07-23,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7.0,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,1975-04-30,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
1.0,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,1977-08-05,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
9.0,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,1974-08-11,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
8.0,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,1975-02-06,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
9.0,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,1970-10-16,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

In [56]:
join2_df = df_sales_territory.join(join_df)
join2_df

,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
SalesTerritoryKey,,,,,,,,,,,,,,,,,,,,,
1.0,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,502097814.0,112432117.0,Stephen,Jiang,...,M,2.0,48.1010,14.0,27.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
1.0,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
1.0,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,61161660.0,502097814.0,Pamela,Ansman-Wolfe,...,F,2.0,23.0769,22.0,31.0,1.0,1.0,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
1.0,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,987554265.0,502097814.0,David,Campbell,...,M,2.0,23.0769,23.0,31.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
1.0,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,90836195.0,502097814.0,Tete,Mensa-Annan,...,M,2.0,23.0769,39.0,39.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
2.0,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,502097814.0,112432117.0,Stephen,Jiang,...,M,2.0,48.1010,14.0,27.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
2.0,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
2.0,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,841560125.0,502097814.0,Michael,Blythe,...,M,2.0,23.0769,38.0,39.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
3.0,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,502097814.0,112432117.0,Stephen,Jiang,...,M,2.0,48.1010,14.0,27.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
3.0,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
3.0,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,841560125.0,502097814.0,Michael,Blythe,...,M,2.0,23.0769,38.0,39.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
3.0,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,191644724.0,502097814.0,Linda,Mitchell,...,F,2.0,23.0769,27.0,33.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
3.0,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,615389812.0,502097814.0,Jillian,Carson,...,F,2.0,23.0769,24.0,32.0,1.0,1.0,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
4.0,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,502097814.0,112432117.0,Stephen,Jiang,...,M,2.0,48.1010,14.0,27.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
4.0,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
4.0,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,191644724.0,502097814.0,Linda,Mitchell,...,F,2.0,23.0769,27.0,33.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
4.0,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,61161660.0,502097814.0,Pamela,Ansman-Wolfe,...,F,2.0,23.0769,22.0,31.0,1.0,1.0,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
4.0,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,139397894.0,502097814.0,Shu,Ito,...,M,2.0,23.0769,26.0,33.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
5.0,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,502097814.0,112432117.0,Stephen,Jiang,...,M,2.0,48.1010,14.0,27.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
5.0,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
5.0,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,841560125.0,502097814.0,Michael,Blythe,...,M,2.0,23.0769,38.0,39.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
5.0,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,716374314.0,502097814.0,Tsvi,Reiter,...,M,2.0,23.0769,29.0,34.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
6.0,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,502097814.0,112432117.0,Stephen,Jiang,...,M,2.0,48.1010,14.0,27.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
6.0,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
6.0,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,234474252.0,502097814.0,Garrett,Vargas,...,M,2.0,23.0769,33.0,36.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
6.0,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,272.0,399771412.0,502097814.0,José,Saraiva,...,M,2.0,23.0769,31.0,35.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
7.0,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
7.0,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,982310417.0,112432117.0,Amy,Alberts,...,F,2.0,48.1010,21.0,30.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
7.0,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,290.0,668991357.0,982310417.0,Jae,Pak,...,F,2.0,23.0769,37.0,38.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
7.0,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,290.0,134219713.0,982310417.0,Ranjit,Varkey Chudukatil,...,M,2.0,23.0769,34.0,37.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
8.0,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
8.0,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,982310417.0,112432117.0,Amy,Alberts,...,F,2.0,48.1010,21.0,30.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
8.0,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,290.0,954276278.0,982310417.0,Rachel,Valdez,...,F,2.0,23.0769,35.0,37.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
9.0,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
9.0,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,481044938.0,112432117.0,Syed,Abbas,...,M,2.0,48.1010,20.0,30.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
9.0,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,294.0,758596752.0,481044938.0,Lynn,Tsoflias,...,F,2.0,23.0769,36.0,38.0,1.0,1.0,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative
10.0,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,112432117.0,112432117.0,Brian,Welcker,...,M,2.0,72.1154,10.0,25.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director
10.0,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,277.0,982310417.0,112432117.0,Amy,Alberts,...,F,2.0,48.1010,21.0,30.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
10.0,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,290.0,668991357.0,982310417.0,Jae,Pak,...,F,2.0,23.0769,37.0,38.0,1.0,1.0,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
11.0,0,Corporate HQ,Corporate HQ,Corporate HQ,None,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:

join2_df.columns.tolist()

['SalesTerritoryAlternateKey',
 'SalesTerritoryRegion',
 'SalesTerritoryCountry',
 'SalesTerritoryGroup',
 'SalesTerritoryImage',
 'ParentEmployeeKey',
 'EmployeeNationalIDAlternateKey',
 'ParentEmployeeNationalIDAlternateKey',
 'FirstName',
 'LastName',
 'MiddleName',
 'NameStyle',
 'Title',
 'HireDate',
 'BirthDate',
 'LoginID',
 'EmailAddress',
 'Phone',
 'MaritalStatus',
 'EmergencyContactName',
 'EmergencyContactPhone',
 'SalariedFlag',
 'Gender',
 'PayFrequency',
 'BaseRate',
 'VacationHours',
 'SickLeaveHours',
 'CurrentFlag',
 'SalesPersonFlag',
 'DepartmentName',
 'EmployeePhoto',
 'Position']

In [67]:
#Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)
join2_df.groupby(["SalesTerritoryCountry", "SalesTerritoryRegion"])["LastName"].count()

SalesTerritoryCountry  SalesTerritoryRegion
Australia              Australia               3
Canada                 Canada                  4
Corporate HQ           Corporate HQ            0
France                 France                  4
Germany                Germany                 3
United Kingdom         United Kingdom          3
United States          Central                 5
                       Northeast               3
                       Northwest               5
                       Southeast               4
                       Southwest               5
Name: LastName, dtype: int64

In [71]:
join2_df.groupby(["SalesTerritoryCountry", "SalesTerritoryRegion"])["LastName"].count()

SalesTerritoryCountry  SalesTerritoryRegion
Australia              Australia               3
Canada                 Canada                  4
Corporate HQ           Corporate HQ            0
France                 France                  4
Germany                Germany                 3
United Kingdom         United Kingdom          3
United States          Central                 5
                       Northeast               3
                       Northwest               5
                       Southeast               4
                       Southwest               5
Name: LastName, dtype: int64

In [73]:
# Valutiamo la media del BaseRate per ogni paese: ci sono differenze ?
join2_df.groupby("SalesTerritoryCountry")["BaseRate"].mean().round(2)

SalesTerritoryCountry
Australia         47.76
Canada            41.59
Corporate HQ        NaN
France            41.59
Germany           47.76
United Kingdom    47.76
United States     39.91
Name: BaseRate, dtype: float64